@model Tuple<util.cprbroker.IPerson>
@{
    var person = Model.Item1;
}

<h4>Børn</h4>
@if (person.relationsWithPerson() != null)
{
    if (person.relationsWithPerson().allRelations().Count > 0)
    {
        List<IRelationshipWithIPerson> children = person.relationsWithPerson().allRelations().FindAll(
            delegate (IRelationshipWithIPerson p)
            {
                return p.relationshipType() == ERelationshipType.boern || p.relationshipType() == ERelationshipType.foraeldremydighedsboern;
            }
        );

        if (children.Any()) //if there are no children
        {
            @Html.Partial("cprAndName", children)
        }
        else
        {
            <text>Ingen børn</text>
        }
    }
}