# ------------------------------
# Use this file to set local municipalities that can be searched locally
# Lines starting with # are ignored
# Put exactly one municipality per line

# Example
# ------------------------------
# 706
# 851
# 101
# ------------------------------

# Above example will configure CPReader to search locally for adresses
# in Syddjurs Kommune, Aalborg Kommune and Københavns Kommune

# Municipality codes can be found here: http://www.kl.dk/Om-KL/Kontakt-til-KL/Kommunefakta/

# Put municipality codes below or replace the contents of this file with codes
