
@(cartContents : util.Cart)

@import play.api.Play.current
<a href="#cartModal" data-backdrop="static" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart"></span>  @Messages("cart.view")</a>
<span style="display: none;">@session.put("opencart", "false")</span>

    <!-- Modal HTML -->
    <div id="cartModal" class="modal static"> 
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Messages("cart.view") (@cartContents.Persons.size() @Messages("cart.items"))</h4>
            </div>
            
            <div class="modal-body">
                @flash.get("message")

                @if(cartContents.Persons.size() > 0) {
                    <table id="cart-table" class="table table-striped">
                        <thead>
                            <tr>
                            <th>@Messages("cart.name")</th>
                            <th>@Messages("cart.cprnumber")</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody id="cart-table-rows">
                             @for(person <- cartContents.Persons){
                                <tr>
                                    <td>@person.firstName @person.middleName @person.lastName</td>
                                    <td>@person.PNR</td>
                                    <td><a href="#" personuuid=@(person.UUID) name='removeFromCartAnchor'>@Messages("cart.remove")</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </br>
                    </br>
                    <hr>
                    <div>   
                    @if(cartContents.Persons.size() > 0) {
                        <div class="row">
                            <div class="col-md-12">
                                    <div id="copy-message" style="display: none">@Messages("cart.rightclick")</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div id="cart-nums" style="display: none"> 
                                    @for(person <- cartContents.Persons){
                                        @person.PNR<br>
                                    }      
                                </div>
                            </div>
                        </div>
                        <div style="float: left;">
                            <a href="#" OnClick="selectCPRNumbers();" title="@Messages("cart.select.title")"><span class="glyphicon glyphicon-file"></span> @Messages("cart.select")</a>
                        </div>

                        <div style="float: right;">
                            <a href="@routes.Cart.empty()"><span class="glyphicon glyphicon-trash"></span> @Messages("cart.empty")</a>
                        </div>
                        }
                        
                    </div>
                    } else { 
                    @Messages("cart.noitems")    
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cart.close")</button>
            </div>
        </div>
    </div>
</div>