@* ***** BEGIN LICENSE BLOCK *****
* Version: MPL 2.0/GPL 2.0/LGPL 2.1
*
* The contents of this file are subject to the Mozilla Public License
* Version 2.0 (the "License"); you may not use this file except in
* compliance with the License. You may obtain a copy of the License at
* http://www.mozilla.org/MPL/
*
* Software distributed under the License is distributed on an "AS IS"basis,
* WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
* for the specific language governing rights and limitations under the
* License.
*
* Contributor(s):
* Beemen Beshara
* Søren Kirkegård
*
* The code is currently governed by OS2 - Offentligt digitaliserings-
* fællesskab / http://www.os2web.dk .
*
* Alternatively, the contents of this file may be used under the terms of
* either the GNU General Public License Version 2 or later (the "GPL"), or
* the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
* in which case the provisions of the GPL or the LGPL are applicable instead
* of those above. If you wish to allow use of your version of this file only
* under the terms of either the GPL or the LGPL, and not to allow others to
* use your version of this file under the terms of the MPL, indicate your
* decision by deleting the provisions above and replace them with the notice
* and other provisions required by the GPL or the LGPL. If you do not delete
* the provisions above, a recipient may use your version of this file under
* the terms of any one of the MPL, the GPL or the LGPL.
*
* ***** END LICENSE BLOCK ***** *@
@(persons: java.util.List[util.cprbroker.IPerson], results: Int, currentpage: Int, location: String, searchInput: Search.SearchInput, accesslevel: Integer)
@import util.cprbroker.EAddressType;
@import util.Converters;
@import play.Play;
@import play.api.Play.current;
@import java.math.BigInteger; var showparents=0; var showrelations=0;
    @main("CPReader", searchInput) {
        <div id="above-search-results">
        @partial_pagination(results, currentpage, location)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    @if(persons != null) {
                        @Messages("results.list.amountOfResults", results) <strong>@searchInput.getQuery()</strong>
                        @if(searchInput.getAddressQuery() != null && searchInput.getAddressQuery().length > 0) {
                                &nbsp;@searchInput.getAddressQuery();
                        }
                    } else {
                        @Messages("results.list.searchFailed", results)
                    }
                    </h3>
                </div>
            </div>
        </div>      
        <div class="list-group" id="search-result-list">
        @if(persons != null) {
            <div class="panel panel-default">
                <div class="panel-heading">
                @if(searchInput.online) {
                    <h4>@Messages("results.list.online_desc_1")</h4>
                    @Messages("results.list.online_desc_2")<br/>
                    @Messages("results.list.online_desc_3")
                } else {
                    <h4>@Messages("results.list.local_desc_1")</h4>
                    @Messages("results.list.local_desc_2")<br/>
                    @Messages("results.list.local_desc_3")
                }
                </div>
            </div>
            @for(person <- persons) {
                @{showparents = 0}
                
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-1">
                            @person.registerInformation.cprCitizen.socialSecurityNumber
                        </div>
                        <div class="col-md-3">
                            @if(person.firstname) {
                                @person.firstname
                            }
                            @if(person.middelname) {
                                @person.middelname
                            }
                            @if(person.lastname) {
                                @person.lastname
                            }
                        </div>
                        <div class="col-md-2">
                            @if(person.address != null && person.address.addressType == util.cprbroker.EAddressType.Danish) {
                                <span class="text-muted">
                                    @if(person.address.danishAddress.streetName) {
                                        @person.address.danishAddress.streetName
                                    }
                                    @if(person.address.danishAddress.streetBuilding) {
                                        @person.address.danishAddress.streetBuilding
                                    }
                                    @if(person.address.danishAddress.floor) {
                                        @person.address.danishAddress.floor
                                    }
                                    @if(person.address.danishAddress.suite) {
                                        @person.address.danishAddress.suite
                                    }
                                    @if(person.address.danishAddress.postCode) {
                                        @person.address.danishAddress.postCode
                                    }
                                    @if(person.address.danishAddress.districtName) {
                                        @person.address.danishAddress.districtName
                                    }
                                </span>
                            }
                        </div>
                        <div class="col-md-1">
                        @if(person.tilstand!=null && person.tilstand.livStatusKode != null) {
                                @person.tilstand.livStatusKode
                        }
                        </div>

                        @if(accesslevel > 0) {
                            <div class="col-md-3 text-left">

                                <a href="#detailModal@person.uuid()" onclick="javascript:updateRelations('@person.uuid()')" data-backdrop="static" data-toggle="modal" ><span class="glyphicon glyphicon-user"></span> @Messages("person.viewdetails")</a>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="javascript:showParents('parents-row@person.uuid()', '@person.uuid()')"><span class="glyphicon glyphicon-user"></span> @Messages("person.showparents")</a>
                            </div>
                            @if(showparents > 0) {
                                <div class="col-md-2 text-right">
                                    @if(session.get("usecart") == "1") {  <div id="cart@person.uuid()">@cart(person, "none", false, false, "none")</div> }
                                </div>
                            } else {
                                <div class="col-md-2 text-right">
                                    @if(session.get("usecart") == "1") {  <div id="cart@person.uuid()">@cart(person, "none", false, false, "none")</div> }
                                </div>
                            }
                        } else {
                            <div class="col-md-5 text-right">
                                @if(session.get("usecart") == "1") {  <div id="cart@person.uuid()">@cart(person, "none", false, false, "none")</div> }
                            </div>
                        }
                        
                    </div>  
                    
                    @********************************************************************************************************************@   
                    @**************** SHOW PARENTS / CUSTODY HOLDERS ********************************************************************@
                    @********************************************************************************************************************@
                    <div id="parents-row@person.uuid()">
                        

                        @if(person.relationsWithPerson != null) {
                            @for(r <- person.relationsWithPerson.allRelations) {
                                @if(r.relationshipType.toString() == "Forældremyndighedsindehaver" || r.relationshipType.toString() == "Fader" || r.relationshipType.toString() == "Moder"){
                                    <div class="row">
                                        <div class="col-md-1">
                                            @*
                                            @r.person.registerInformation.cprCitizen.socialSecurityNumber
                                            *@
                                        </div>
                                        <div class="col-md-3">
                                            @r.relationshipType.toString():
                                            @if(r.person.firstname) {
                                                @r.person.firstname
                                            }
                                            @if(r.person.middelname) {
                                                @r.person.middelname
                                            }
                                            @if(r.person.lastname) {
                                                @r.person.lastname
                                            }
                                        </div>
                                        <div class="col-md-2">
                                            @if(r.person.address != null && r.person.address.addressType == util.cprbroker.EAddressType.Danish) {
                                                <span class="text-muted">
                                                    @if(r.person.address.danishAddress.streetName) {
                                                        @r.person.address.danishAddress.streetName
                                                    }
                                                    @if(r.person.address.danishAddress.streetBuilding) {
                                                        @r.person.address.danishAddress.streetBuilding
                                                    }
                                                    @if(r.person.address.danishAddress.floor) {
                                                        @r.person.address.danishAddress.floor
                                                    }
                                                    @if(r.person.address.danishAddress.suite) {
                                                        @r.person.address.danishAddress.suite
                                                    }
                                                    @if(r.person.address.danishAddress.postCode) {
                                                        @r.person.address.danishAddress.postCode
                                                    }
                                                    @if(r.person.address.danishAddress.districtName) {
                                                        @r.person.address.danishAddress.districtName
                                                    }
                                                </span>
                                            }
                                        </div>
                                        <div class="col-md-1">
                                        @if(r.person.tilstand!=null && r.person.tilstand.livStatusKode != null) {
                                                @r.person.tilstand.livStatusKode
                                        }
                                        </div>




                                        @if(accesslevel > 0) {
                                            <div class="col-md-2 text-left">
                                                <a href="/show/uuid/@r.person.uuid/"><span class="glyphicon glyphicon-user"></span> @Messages("person.viewdetails")</a>
                                                @*<a href="#detailModal@r.person.uuid()" data-backdrop="static" data-toggle="modal" ><span class="glyphicon glyphicon-user"></span> @Messages("person.viewdetails")</a>*@
                                            </div>
                                            
                                            <div class="col-md-3 text-right">
                                                @if(session.get("usecart") == "1") {  <div id="cart@r.person.uuid()">@cart(r.person, "none", false, true, person.uuid())</div> }
                                            </div>
                                        } else {
                                            <div class="col-md-5 text-right">
                                                @if(session.get("usecart") == "1") {  <div id="cart@r.person.uuid()">@cart(r.person, "none", false, true, person.uuid())</div> }
                                            </div>
                                        }


                                    </div>
                                }   
                            }
                        }
                        
                    </div>

                    
                   
                    <script>           
                      document.getElementById("parents-row@person.uuid()").style.display = 'none';       
                    </script>


                    @***** force show parents row ******@
                    

                    @if(session.get("showparents@person.uuid") == "show") {
                        <script>
                            document.getElementById("parents-row@person.uuid()").style.display = 'block';
                        </script>
                    } else {
                        
                    }
                    @***********************************@


                    @********************************************************************************************************************@   
                    @**************** END SHOW PARENTS / CUSTODY HOLDERS ****************************************************************@
                    @********************************************************************************************************************@
                </div>


                <!-- Modal HTML -->

                <div id="detailModal@person.uuid()" class="modal static">
                    <div class="modal-dialog">
                        <div id="content@person.uuid()" class="modal-content">  
                            <div class="modal-header">
                                <div class="well">   
                                    <h4>             
                                        <span class="glyphicon glyphicon-user"></span>
                                        Person: @person.registerInformation.cprCitizen.socialSecurityNumber
                                    </h4> 
                                    <div>
                                        @person.postalLabel().map { l =>
                                            @l <br>
                                        }
                                    </div>
                                    @if(person.tidspunkt != null) {
                                        <p class="text-right">
                                            @if(person.tidspunkt.sourceName() != null) {
                                                @person.tidspunkt.sourceName,
                                            }
                                            @if(person.tidspunkt.tidspunkt != null) {
                                                @Messages("person.registrationdate"): @person.tidspunkt.tidspunkt.toString("dd.MM.yy HH:mm:ss") 
                                            }
                                        </p>
                                    }
                                    <p class="text-right">
                                    <div id="session" style="display: none;">
                                        @session.put(person.uuid()+"_uuid", person.uuid())
                                        
                                        @play.api.cache.Cache.set(person.uuid(), person);
                                    </div>
                                    @if(session.get("usecart") == "1") {
                                        <div id="cart@person.uuid()">@cart(person, person.uuid(), false, false, "none")</div>
                                    }
                                    </p>
                                </div>
                            </div>                         
                            <div class="modal-body">
                                @if(accesslevel > 0) {
                                    
                                    <ul class="nav nav-pills nav-justified">
                                        @if(accesslevel > 1) {
                                            <li class="active"><a href="#generelt@person.uuid()" data-toggle="pill">Generelt</a></li>
                                            <li><a href="#addresse@person.uuid()" data-toggle="pill">Adresse</a></li>
                                            @if(person.relationsWithPerson != null) {
                                                @if(person.relationsWithPerson.allRelations.length > 0) {
                                                    <li><a href="#relationer@person.uuid()" data-toggle="pill">Relationer</a></li>
                                                }
                                            }
                                        } else {
                                            @if(person.relationsWithPerson != null) {
                                                @if(person.relationsWithPerson.allRelations.length > 0) {
                                                        @{showrelations = 0}
                                                        @for(r <- person.relationsWithPerson.allRelations) {
                                                            @if(r.relationshipType.toString() == "Forældremyndighedsindehaver" || r.relationshipType.toString() == "Fader" || r.relationshipType.toString() == "Moder"){
                                                                @{showrelations = 1}
                                                            } 
                                                        }
                                                        @if(showrelations > 0) {
                                                            <li class="active"><a href="#" data-toggle="pill">Relationer</a></li>
                                                        }
                                                }
                                            }
                                        }       
                                    </ul>
                                    <br/>
                                    <div class="tab-content">
                                        @if(accesslevel > 1) {
                                            <div class="tab-pane active" id="generelt@person.uuid()">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h3 class="panel-title">@Messages("resultat.egenskaber")</h3>
                                                            </div>
                                                            <div class="panel-body">
                                                                @textfield("person.firstname", person.firstname)
                                                                @textfield("person.middelname", person.middelname)
                                                                @textfield("person.lastname", person.lastname)
                                                                @textfield("person.callname", person.callname)
                                                                @textfield("person.nameForAddressing", person.nameForAddressing)
                                                                @textfield("person.gender", person.gender)
                                                                @if(person.birthdate != null) {
                                                                    <dl class="dl-horizontal margins-removed">
                                                                        <dt>@Messages("person.birthdate")</dt>
                                                                        <dd>@person.birthdate.toString("dd. MMMM yyyy", new Locale("da"))</dd>
                                                                    </dl>
                                                                }
                                                                @textfield("person.birthplace", person.nameForAddressing)
                                                                @textfield("person.birthRegisteringAuthority", person.birthRegisteringAuthority)
                                                            </div>
                                                            <div class="panel-footer"><p class="text-right">@virkning(person.effect, true)</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h3 class="panel-title">@Messages("resultat.registeroplysninger")</h3>
                                                            </div>
                                                            <div class="panel-body">
                                                            @if(person.registerInformation != null) {
                                                                @booleanfield(true, "person.registerInformation.cprCitizen.socialSecurityNumberActive", person.registerInformation.cprCitizen.isSocialSecurityNumberValid)
                                                                @textfield("person.registerInformation.cprCitizen.personNationalityCode", person.registerInformation.cprCitizen.personNationalityCode)
                                                                @booleanfield(true, "person.registerInformation.cprCitizen.isMemberOfTheChurch", person.registerInformation.cprCitizen.isMemberOfTheChurch)
                                                                @booleanfield(true, "person.registerInformation.cprCitizen.isResearcherProtected", person.registerInformation.cprCitizen.isResearcherProtected)
                                                                @booleanfield(true, "person.registerInformation.cprCitizen.isNameAddressProtected", person.registerInformation.cprCitizen.isNameAddressProtected)
                                                                @booleanfield(true, "person.registerInformation.cprCitizen.isPhoneNumberProtected", person.registerInformation.cprCitizen.isPhoneNumberProtected)
                                                            }
                                                            </div>
                                                            <div class="panel-footer"><p class="text-right">@virkning(person.registerInformation.virkning, true)</p></div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h3 class="panel-title">@Messages("resultat.tilstande")</h3>
                                                            </div>
                                                            <div class="panel-body">
                                                            @if(person.tilstand != null) {
                                                                @if(person.tilstand.civilStatusKode != null) {
                                                                    <dl class="dl-horizontal">
                                                                        <dt>@Messages("person.tilstand.civilStatusKode")</dt>
                                                                        <dd>@person.tilstand.civilStatusKode</dd>
                                                                        @if(person.tilstand.civilTilstandsVirkning.fraTidspunkt != null) {
                                                                            <dd>@virkning(person.tilstand.civilTilstandsVirkning, false)</dd>
                                                                        }
                                                                    </dl>
                                                                }
                                                                @if(person.tilstand.livStatusKode != null) {
                                                                    <dl class="dl-horizontal">
                                                                        <dt>@Messages("person.tilstand.livStatusKode")</dt>
                                                                        <dd>@person.tilstand.livStatusKode</dd>
                                                                        @if(person.tilstand.livTilstandsVirkning.fraTidspunkt != null) {
                                                                            <dd>@virkning(person.tilstand.livTilstandsVirkning, false)</dd>
                                                                        }
                                                                    </dl>
                                                                }
                                                            }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="addresse@person.uuid()">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @if(person.address != null) {
                                                            @if(person.address.addressType == EAddressType.Danish) {
                                                                @danishaddress(person)
                                                            }
                                                            @if(person.address.addressType == EAddressType.Greenlandic) {
                                                                @greenlandicaddress(person)
                                                            }
                                                            @if(person.address.addressType == EAddressType.World) {
                                                                @worldaddress(person)
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>  
                                        }
                                        @if(person.relationsWithPerson != null) {
                                            @if(person.relationsWithPerson.allRelations.length > 0) {
                                                @if(accesslevel > 1) {
                                                <div class="tab-pane" id="relationer@person.uuid()">
                                                }
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <br/>
                                                            @if(person.relationsWithPerson != null) {
                                                                @for(r <- person.relationsWithPerson.allRelations) {
                                                                    @if(accesslevel > 1) {
                                                                        @relation(r, person)
                                                                    } else {
                                                                        @if(r.relationshipType.toString() == "Forældremyndighedsindehaver" || r.relationshipType.toString() == "Fader" || r.relationshipType.toString() == "Moder"){
                                                                            @relation(r, person)
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                @if(accesslevel > 1) {
                                                </div>
                                                }
                                            }
                                        }
                                    </div>
                                }
                            </div>
                            <div class="modal-footer">
                                <button onclick="hideDetail()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="parentModal@person.uuid()" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="well">   
                                    <h3>
                                        <span class="glyphicon glyphicon-user"></span>
                                        Person: @person.registerInformation.cprCitizen.socialSecurityNumber
                                    </h3>  
                                    <div>
                                        @person.postalLabel().map { l =>
                                            @l <br>
                                        }
                                    </div>
                                    @if(person.tidspunkt != null) {
                                        <p class="text-right">
                                            @if(person.tidspunkt.sourceName() != null) {
                                                @person.tidspunkt.sourceName,
                                            }
                                            @if(person.tidspunkt.tidspunkt != null) {
                                                @Messages("person.registrationdate"): @person.tidspunkt.tidspunkt.toString("dd.MM.yy HH:mm:ss") 
                                            }
                                        </p>
                                    }
                                    <p class="text-right">
                                    <div id="session" style="display: none;">
                                        @session.put(person.uuid()+"_uuid", person.uuid())
                                        @play.api.cache.Cache.set(person.uuid(), person);
                                    </div>
                                    @if(session.get("usecart") == "1") {
                                        <div id="cart@person.uuid()">@cart(person, "none", false, false, "none")</div>
                                    }
                                    </p>
                                </div>
                            </div>
                            <div class="modal-body">
                                @if(person.relationsWithPerson != null) {
                                    @if(person.relationsWithPerson.allRelations.length > 0) {
                                        @if(accesslevel > 1) {
                                        <div class="tab-pane" id="parents@person.uuid()">
                                        }
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <br/>                                                          
                                                    @if(person.relationsWithPerson != null) {
                                                        @for(r <- person.relationsWithPerson.allRelations) {
                                                            @if(r.relationshipType.toString() == "Forældremyndighedsindehaver"){
                                                                @relation(r, person)
                                                            } 

                                                            @if(r.relationshipType.toString() == "Fader"){
                                                                @relation(r, person)
                                                            }

                                                            @if(r.relationshipType.toString() == "Moder"){
                                                                @relation(r, person)
                                                            }   
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        @if(accesslevel > 1) {
                                        </div>
                                        }
                                    }
                                }    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                @if(session.get("showparents") == person.uuid()){
                  <script>
                    
                    window.onload = function() { 
                        $('[id^=parents-row]').slideUp("fast");
                        $('#parents-row@person.uuid()').slideDown("fast");
                    }
                    </script>
                }

                @if(session.get("showperson") == person.uuid){
                  <script>
                    window.onload = function() {
                      $('[id^=detailModal]').hide();

                      $('#detailModal@person.uuid()').modal('show');
                    };
                    </script>
                }
            }
        }
        </div>
        @partial_pagination(results, currentpage, location)
    }

<script>
    function hideDetail()
    {
        $.post('/search/closedetail', {}, function (data) {
        });
    }

    function updateRelations(uuid)
    {
        $.post('/search/update/'+uuid+'/'+encodeURIComponent(window.location.href), {}, function (data) {
            $('#content'+uuid).empty();
            $('#content'+uuid).append(data);
        });
    }

    function hideParents(id)
    {
        $("#"+id).slideUp("fast");
    }

    function showParents(id, uuid)
    {
        $('[id^=parents-row]').slideUp("fast");

        if (document.getElementById(id).style.display === 'block' || document.getElementById(id).style.display === '')
        {
            $("#"+id).slideUp("fast");
        }
        else
        {
            $.post('/search/updateparents/'+uuid+'/'+encodeURIComponent(window.location.href), {}, function (data) {
                if(data == "none")
                {
                    window.alert("Not available");
                }
                else
                {
                    //window.alert(data)
                    $('#parents-row'+uuid).empty();
                    $('#parents-row'+uuid).append(data);
                }
            });
            $("#"+id).slideDown("fast");
        }
    }
</script>
