@* ***** BEGIN LICENSE BLOCK *****
* Version: MPL 2.0/GPL 2.0/LGPL 2.1
*
* The contents of this file are subject to the Mozilla Public License
* Version 2.0 (the "License"); you may not use this file except in
* compliance with the License. You may obtain a copy of the License at
* http://www.mozilla.org/MPL/
*
* Software distributed under the License is distributed on an "AS IS"basis,
* WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
* for the specific language governing rights and limitations under the
* License.
*
* Contributor(s):
* Beemen Beshara
* Søren Kirkegård
*
* The code is currently governed by OS2 - Offentligt digitaliserings-
* fællesskab / http://www.os2web.dk .
*
* Alternatively, the contents of this file may be used under the terms of
* either the GNU General Public License Version 2 or later (the "GPL"), or
* the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
* in which case the provisions of the GPL or the LGPL are applicable instead
* of those above. If you wish to allow use of your version of this file only
* under the terms of either the GPL or the LGPL, and not to allow others to
* use your version of this file under the terms of the MPL, indicate your
* decision by deleting the provisions above and replace them with the notice
* and other provisions required by the GPL or the LGPL. If you do not delete
* the provisions above, a recipient may use your version of this file under
* the terms of any one of the MPL, the GPL or the LGPL.
*
* ***** END LICENSE BLOCK ***** *@
@(persons: java.util.List[util.cprbroker.IPerson], results: Int, currentpage: Int, location: String, searchInput: Search.SearchInput, accesslevel: Integer)
@import play.api.Play.current;
@import java.math.BigInteger;var showparents=0;

    @main("CPReader", searchInput) {
        <div id="above-search-results">
        @partial_pagination(results, currentpage, location)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    @if(persons != null) {
                        @Messages("results.list.amountOfResults", results) <strong>@searchInput.getQuery()</strong>
                        @if(searchInput.getAddressQuery() != null && searchInput.getAddressQuery().length > 0) {
                                &nbsp;@searchInput.getAddressQuery();
                        }
                    } else {
                        @Messages("results.list.searchFailed", results)
                    }
                    </h3>
                </div>
            </div>
        </div>      
        <div class="list-group" id="search-result-list">
        @if(persons != null) {
            <div class="panel panel-default">
                <div class="panel-heading">
                @if(searchInput.online) {
                    <h4>@Messages("results.list.online_desc_1")</h4>
                    @Messages("results.list.online_desc_2")<br/>
                    @Messages("results.list.online_desc_3")
                } else {
                    <h4>@Messages("results.list.local_desc_1")</h4>
                    @Messages("results.list.local_desc_2")<br/>
                    @Messages("results.list.local_desc_3")
                }
                </div>
            </div>
            @for(person <- persons) {

                <div class="list-group-item">
                    <div class="row">
                        @listperson(person,true,"")

                        @if(accesslevel > 0) {
                            <div class="col-md-3 text-left">
                                @if(accesslevel > 1) {
                                    @* Button to show person details *@
                                    <a href="#" onclick="javascript:showPersonDetails(event,'@person.uuid()')"
                                        data-backdrop="static" data-toggle="modal"
                                        @if(person.relationsWithPerson()!=null){loaded='true'}
                                        @if(person.relationsWithPerson()==null){loaded='false'}
                                    ><span class="glyphicon glyphicon-user"></span> @Messages("person.viewdetails")</a>
                                }
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @* Button to show person parents and custody holders *@
                                <a href="#"  onclick="javascript:showParents(event,'@person.uuid()')"
                                    @if(person.relationsWithPerson()!=null){loaded='true'}
                                    @if(person.relationsWithPerson()==null){loaded='false'}
                                ><span class="glyphicon glyphicon-user"></span> @Messages("person.showparents")</a>
                            </div>

                            <div class="col-md-2 text-right">
                                @if(session.get("usecart") == "1") {  <div id="cart@person.uuid()">@cart(person, "none", false, false, "none")</div> }
                            </div>
                        } else {
                            <div class="col-md-5 text-right">
                                @if(session.get("usecart") == "1") {  <div id="cart@person.uuid()">@cart(person, "none", false, false, "none")</div> }
                            </div>
                        }
                        
                    </div>  

                    @********************************************************************************************************************@
                    @**************** SHOW PARENTS / CUSTODY HOLDERS ********************************************************************@
                    @********************************************************************************************************************@
                    <div id="parents-row@person.uuid()">
                        
                        @parentlist(person, accesslevel)
                    </div>
                    <script>
                      document.getElementById("parents-row@person.uuid()").style.display = 'none';       
                    </script>


                    @***** force show parents row ******@
                    @if(session.get("showparents@person.uuid") == "show") {
                        <script>
                            document.getElementById("parents-row@person.uuid()").style.display = 'block';
                        </script>
                    } else {

                    }

                    @********************************************************************************************************************@   
                    @**************** END SHOW PARENTS / CUSTODY HOLDERS ****************************************************************@
                    @********************************************************************************************************************@
                </div>


                <!-- Modal HTML -->
                @detailmodal(person, accesslevel)

                @if(session.get("showparents") == person.uuid()){
                  <script>
                    
                    window.onload = function() { 
                        $('[id^=parents-row]').slideUp("fast");
                        $('#parents-row@person.uuid()').slideDown("fast");
                    }
                    </script>
                }

                @if(session.get("showperson") == person.uuid){
                  <script>
                    window.onload = function() {
                      $('[id^=detailModal]').hide();

                      $('#detailModal@person.uuid()').modal('show');
                    };
                    </script>
                }
            }
        }
        </div>
        @partial_pagination(results, currentpage, location)
    }