@(person: util.cprbroker.IPerson, accesslevel: Integer)
@import util.cprbroker.EAddressType;
@import util.Converters;
@import play.Play;
@import play.api.Play.current;
@import java.math.BigInteger; var showparents=0; var showrelations=0;
@if(person.relationsWithPerson != null) {
    @for(r <- person.relationsWithPerson.allRelations) {
        @if(r.relationshipType.toString() == "Forældremyndighedsindehaver" || r.relationshipType.toString() == "Fader" || r.relationshipType.toString() == "Moder"){
            
            @play.api.cache.Cache.set(r.person.uuid(), r.person)
            <div class="row">
                <div class="col-md-1">
                    @*
                    @r.person.registerInformation.cprCitizen.socialSecurityNumber
                    *@
                </div>
                <div class="col-md-3">
                    @r.relationshipType.toString():
                    @if(r.person.firstname) {
                        @r.person.firstname
                    }
                    @if(r.person.middelname) {
                        @r.person.middelname
                    }
                    @if(r.person.lastname) {
                        @r.person.lastname
                    }
                </div>
                <div class="col-md-2">
                    @if(r.person.address != null && r.person.address.addressType == util.cprbroker.EAddressType.Danish) {
                        <span class="text-muted">
                            @if(r.person.address.danishAddress.streetName) {
                                @r.person.address.danishAddress.streetName
                            }
                            @if(r.person.address.danishAddress.streetBuilding) {
                                @r.person.address.danishAddress.streetBuilding
                            }
                            @if(r.person.address.danishAddress.floor) {
                                @r.person.address.danishAddress.floor
                            }
                            @if(r.person.address.danishAddress.suite) {
                                @r.person.address.danishAddress.suite
                            }
                            @if(r.person.address.danishAddress.postCode) {
                                @r.person.address.danishAddress.postCode
                            }
                            @if(r.person.address.danishAddress.districtName) {
                                @r.person.address.danishAddress.districtName
                            }
                        </span>
                    }
                </div>
                <div class="col-md-1">
                @if(r.person.tilstand!=null && r.person.tilstand.livStatusKode != null) {
                        @r.person.tilstand.livStatusKode
                }
                </div>




                @if(accesslevel > 0) {
                    <div class="col-md-2 text-left">
                        <a href="/show/uuid/@r.person.uuid/"><span class="glyphicon glyphicon-user"></span> @Messages("person.viewdetails")</a>
                    </div>
                    
                    <div class="col-md-3 text-right">
                        @if(session.get("usecart") == "1") {  <div id="cart@r.person.uuid()">@cart(r.person, "none", false, true, person.uuid())</div> }
                    </div>
                } else {
                    <div class="col-md-5 text-right">
                        @if(session.get("usecart") == "1") {  <div id="cart@r.person.uuid()">@cart(r.person, "none", false, true, person.uuid())</div> }
                    </div>
                }


            </div>
        }   
    }
} else {
    <div class="row">
        Data not available
    </div>
}