@(person: util.cprbroker.IPerson, accesslevel: Integer)
@import util.cprbroker.EAddressType;
@import util.Converters;
@import play.Play;
@import play.api.Play.current;
@import java.math.BigInteger; var showparents=0; var showrelations=0;var parentCount = 0;
@if(person.relationsWithPerson != null) {
    @for(r <- person.relationsWithPerson.allRelations) {
        @if(r.relationshipType.toString() == "Forældremyndighedsindehaver" || r.relationshipType.toString() == "Fader" || r.relationshipType.toString() == "Moder"){
            
            @play.api.cache.Cache.set(r.person.uuid(), r.person)
            <div class="row">
                @listperson(r.person(), false, r.relationshipType.toString()+":" )
                @{parentCount = parentCount + 1}
                @if(accesslevel > 0) {
                    <div class="col-md-2 text-left">
                        <a href="/show/uuid/@r.person.uuid/"><span class="glyphicon glyphicon-user"></span> @Messages("person.viewdetails")</a>
                    </div>
                    
                    <div class="col-md-3 text-right">
                        @if(session.get("usecart") == "1") {  <div id="cart@r.person.uuid()">@cart(r.person, "none", false, true, person.uuid())</div> }
                    </div>
                } else {
                    <div class="col-md-5 text-right">
                        @if(session.get("usecart") == "1") {  <div id="cart@r.person.uuid()">@cart(r.person, "none", false, true, person.uuid())</div> }
                    </div>
                }
            </div>
        }   
    }
    @if(parentCount == 0){
        <div class="row">
            <div class="col-md-3">@Messages("person.noparents")
        </div>
        </div>
    }
} else {
    <div class="row">
        Data not available
    </div>
}