@(person: util.cprbroker.IPerson, accesslevel: Integer)
@import play.api.Play.current;
<div id="parentModal@person.uuid()" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="well">
                    <h3>
                        <span class="glyphicon glyphicon-user"></span>
                        Person: @person.registerInformation.cprCitizen.socialSecurityNumber
                    </h3>
                    <div>
                    @person.postalLabel().map { l =>
                        @l <br>
                    }
                    </div>
                    @if(person.tidspunkt != null) {
                        <p class="text-right">
                            @if(person.tidspunkt.sourceName() != null) {
                                @person.tidspunkt.sourceName,
                            }
                            @if(person.tidspunkt.tidspunkt != null) {
                                @Messages("person.registrationdate"): @person.tidspunkt.tidspunkt.toString("dd.MM.yy HH:mm:ss")
                            }
                        </p>
                    }
                    <p class="text-right">
                <div id="session" style="display: none;">
                    @play.api.cache.Cache.set(person.uuid(), person);
                </div>
                    @if(session.get("usecart") == "1") {
                        <div id="cart@person.uuid()">@cart(person, "none", false, false, "none")</div>
                    }
                    </p>
                </div>
            </div>
            <div class="modal-body">
            @if(person.relationsWithPerson != null) {
                @if(person.relationsWithPerson.allRelations.length > 0) {
                    @if(accesslevel > 1) {
                        <div class="tab-pane" id="parents@person.uuid()">
                        }
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            @if(person.relationsWithPerson != null) {
                                @for(r <- person.relationsWithPerson.allRelations) {
                                    @if(r.relationshipType.toString() == "Forældremyndighedsindehaver"){
                                        @relation(r, person)
                                    }

                                    @if(r.relationshipType.toString() == "Fader"){
                                        @relation(r, person)
                                    }

                                    @if(r.relationshipType.toString() == "Moder"){
                                        @relation(r, person)
                                    }
                                }
                            }
                        </div>
                    </div>
                    @if(accesslevel > 1) {
                    </div>
                    }
                }
            }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>